:root{
    --col1:#27DDF5;
    --col2:#07E81A;
    --col3:#4500FF;
    --col4:#FF8800;
    --col5:#A6FF00;
}
body{
    display: flex;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
    align-content: center;
    /*flex-wrap: wrap;*/
}
.box1{
    height: 200px;
    width: 200px;
    background-color: var(--col1);
    align-content: center;
    flex-shrink: 0;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: var(--col2);
    align-content: center;
    flex-shrink: 1;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: var(--col3);
    align-content: center;
    flex-shrink: 0;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: var(--col4);
    align-content: center;
}
.box5{
    height: 200px;
    width: 200px;
    background-color: var(--col5);
    align-content: center;  
}
.box6{
    height: 200px;
    width: 200px;
    background-color: red;
    align-content: center;  
}
.box7{
    height: 200px;
    width: 200px;
    background-color: brown;
    align-content: center;  
}
p{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}