:root{
    --col1:#005EFF;
    --col2:white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box0{
    height: 600px;
    width: 900px;
    background-color: var(--col1);
}
.box1{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 20px;
}
.box2{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 850px;
    background-color: var(--col2);
    color: var(--col1);
}

.box3 box4{
    display: flex;

}